.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;

  /* 버튼을 누르면 보여주고 싶음? 평소에 숨겨야할듯 */
  display: none;
  /* 보여주고싶으면 display: block */
}

.alert-box {
  position: relative;
}

.btn-close {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 35px;
  right: 20px;
  cursor: pointer;
}
