ul li {
  list-style: none;
}

.mt-5,
.my-5,
.mt-3,
.tab-content {
  padding: 0 20px;
}

.list {
  display: flex;
  padding: 0;
}

.tab-button {
  padding: 10px 30px;
  border-collapse: collapse;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.orange {
  border-top: 2px solid orange;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: none;
}

.tab-content {
  display: none;
}

.show {
  display: block;
}

/* 4. Select 인풋 다루기 */
.form-hide {
  display: none;
}
