/* 7. 스크롤이벤트로 만드는 재밌는 기능들 */
:root {
  scroll-behavior: auto;
  /* 이거 넣으면 원상복구: 부트스트랩설치로 인해 scrollTo(x, y)를 이용해 강제로 원하는 위치로 이동시킬때 스무스하게 이동하는 것이 아닌 순간이동하도록 하는 방법 */
}

/* 
버튼을 누르면 보여달라고 JS 짬(class 탈부착으로도 구현가능)
*/
.list-group {
  display: none;
}

.show {
  display: block;
  /* css파일은 하단에 적을수록 우선적용됨 */
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  /*1.시작스타일*/ /*애니메이션줄때display:;
  none대응*/ /*시작스타일에transition추가*/
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.show-modal {
  /* 2. 최종스타일 */
  /* (display: block 과 비슷) */
  visibility: visible;
  opacity: 1;
}

/* 9. 폼 만들며 배워보는 if else */
.main-bg {
  padding: 100px 20px;
  background: lightgrey;
}

/* 7. 스크롤 이벤트로 만드는 재밌는 기능들 */
.container-fluid {
  padding: 0;
}
.navbar {
  position: fixed;
  width: 100%;
  padding: 0;
  z-index: 5;
}

.navbar-brand {
  font-size: 30px;
  transition: all 1s;
  padding: 10px;
}

.scroll-progress {
  position: relative;
  width: 100%;
  height: 2px;
  background: #ccc;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: #007bff;
  transition: width 0.3s;
}
