body {
  margin: 0;
  padding: 0;
}

.shop-bg {
  background: #eee;
  padding: 20px;
}

.shop-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.shop-item {
  width: 33%;
  padding: 10px;
}

.shop-item img {
  width: 100%;
  height: 300px;
  display: block;
}

/* 
one-way 애니메이션 만드는 step
1. 시작스타일 만들기
2. 최종스타일 만들기
3. 언제 최종스타일로 변하는지
4. transition 으로 애니메이션
*/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  /*시작스타일은opacity: 0;
  최종스타일은opacity: 1;
  */
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.overlay:hover {
  opacity: 1;
}

/* 밑에서 위로 올라오는 애니메이션 만들기 */

.overlay-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlay-black {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 100%;
  font-size: 30px;
  color: white;
}

.overlay-wrap:hover .overlay-black {
  margin-top: 50%;
  transition: all 1s;
}
