body,
h1,
p {
  margin: 0;
  padding: 0;
}

.table-container {
  background-color: #b2ccd6;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #446683;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-left: -480px;
}

th {
  color: #8895a9;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px 20px;
}

td,
th {
  padding: 10px 20px;
  border-bottom: 1px solid #c2d3de;
}

.table {
  width: 100%;
  max-width: 700px;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  padding: 10px 20px;
}

.img-camera {
  width: 50px;
}

.footer p {
  color: #123761;
  font-size: 16px;
  text-decoration: underline;
  margin-top: 15px;
}

.footer {
  display: flex;
  gap: 290px;
  margin-top: 30px;
}

.color-navy {
  color: #123761;
  font-weight: bold;
}

.color-skyblue {
  color: #8895a9;
}

.product-name p {
  font-weight: bold;
}

.product-name span {
  font-size: 14px;
}

.footer button {
  color: #b2ccd6;
  background-color: #123761;
  font-size: 16px;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 마우스 올릴 때 스타일은 :hover(pseudo-class) */
.footer button:hover {
  background-color: chocolate;
}

/* 커서 찍혀있을 떄 스타일은 :focus(pseudo-class) */
.footer button:focus {
  background-color: grey;
}

/* 클릭 중 스타일은 :active */
.footer button:active {
  background-color: brown;
  border: 2px solid black;
}

/*
:hover -> :focus -> :active 순서로 작성해야 원하는 결과를 얻을 수 있음(호빠)로 외워!! 
pseudo-class엔 거의 모든 스타일 넣기 가능
*/

.input-test {
  font-size: 20px;
}

.input-test:focus {
  border: 2px solid red;
  outline: none;
}

.custom-link {
  text-decoration: none;
}

/* 방문전 링크 스타일링은 :link */
.custom-link:link {
  color: aqua;
}

/* 방문후 링크 스타일링은 :visited */
.custom-link:visited {
  color: black;
}

/* 만들어두면 편한 Utility class
(스타일 한두개만 들어있는 class) */
.f-small {
  font-size: 12px;
}

.f-mid {
  font-size: 16px;
}

.f-lg {
  font-size: 20px;
}

/* Object Oriented CSS 라고 부르는 작성 관습 */
.main-btn {
  padding: 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.bg-red {
  background: red;
}

.bg-blue {
  background: blue;
}
